venv/
**/venv/
*.onnx
*.onnx.data
*.npz
globalfoundries-pdk-libs-gf180mcu_fd_sc_mcu7t5v0/

firmware/build/
sim/build/
*.vcd
*.vvp
*.elf
*.bin
*.hex

sleep_soc/sim_out
sleep_soc/stBTi6uk
sensor_models/sensors/__pycache__/
**/__pycache__/
*.pyc
